.wrapper {
    font-family: 'Sarabun', sans-serif;
}
.f_sarabun {
    font-family: 'Sarabun', sans-serif;
}
.swal2-popup {
    font-family: "Sarabun", sans-serif;
}
.disp{
    display: none;
}
.f_50 {font-size: 50px;}
.bh_60{height: 60px;}

.form__group {
  position: relative;
  padding: 0px 0 0;
  margin-top: -3px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 0.1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-input {
  width: 190px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  background-image: url('../images/698956-icon-111-search-512.png');
  background-position: 7px 5px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.form-input:focus {
  width: 100%;
}

.product-price-bg-1 {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #e74c3c;
    padding: 6px 12px;
    position: absolute;
    top: -32px;
    right: 0;
}
.product-price-bg-2 {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #f1c40f;
    padding: 6px 12px;
    position: absolute;
    top: -32px;
    right: 0;
}
.product-price-bg-3 {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #2980b9;
    padding: 6px 12px;
    position: absolute;
    top: -32px;
    right: 0;
}
.product-price-bg-4 {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #27ae60;
    padding: 6px 12px;
    position: absolute;
    top: -32px;
    right: 0;
}
.product-price-bg-5 {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #d35400;
    padding: 6px 12px;
    position: absolute;
    top: -32px;
    right: 0;
}

.all_items_1 {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff !important;
    background-color: #e74c3c;
    padding: 10px;
}
.all_items_2 {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff !important;
    background-color: #f1c40f;
    padding: 10px;
}
.all_items_3 {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff !important;
    background-color: #2980b9;
    padding: 10px;
}
.all_items_4 {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff !important;
    background-color: #27ae60;
    padding: 10px;
}
.all_items_5 {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff !important;
    background-color: #d35400;
    padding: 10px;
}
