@font-face {
  font-family: 'Garuda';
  src: url('../fonts/garuda/Garuda.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'THSarabunNew';
  src: url('../fonts/THSarabunNew/THSarabunNew.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Garuda {
	font-family: 'Garuda', sans-serif;
}
.THSarabunNew {
	font-family: 'THSarabunNew', sans-serif;
}
.f_16 {
	font-size: 16px !important;
}